#### Task 1 Recommender System - MAE, RMSE, and NDCG

*Name : Iqbal Saviola Syah Billhaq*

*NIM : 1301190318*

*Class : CII4H3-IF-43-PIL-DS01*

#### Task Description

- Bandingkan nilai prediksi algoritma A, B, dan C dengan original rating (rui).

- Buat source code dalam google colaboratory untuk menghitung nilai MAE, RMSE dan NDCG

- Dengan melihat nilai MAE, RMSE, dan NDCG pada ketiga perbandingan tersebut, algoritma mana yang menghasilkan nilai prediksi paling baik?

In [37]:
import numpy as np
import pandas as pd
from math import trunc

In [38]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRusmwwIwX4P0JVmk0NIJmll16glqD2kha6VZjyHqLbbgQ3NsWaCRpLhvlfSI25KRBO2G3RrCWJNEc-/pub?gid=0&single=true&output=csv")

In [39]:
df.head()

   uid  iid  rui  Pred A  Pred B  Pred C
0    1  111    1    1.00    1.00    2.12
1    1   12    2    2.08    1.00    3.73
2    1   73    4    4.75    4.42    4.02
3    1   48    5    4.41    5.00    3.39
4    1  110    1    2.24    1.00    1.00

#### MAE (Mean Absolute Error)

In [40]:
def mae(rui, pred):
    rui, pred = np.array(rui), np.array(pred)
    return np.mean(np.abs(rui - pred))


The MAE metric is calculated by the following formula: 

\begin{align}
        MAE = \frac{ \sum_{} ùë¢ùúñùëà \sum_{} . ùëñùúñùë°ùëíùë†ùë°ùë†ùëíùë°ùë¢ |ùëüùëíùëê ùë¢,ùëñ ‚àíùëü(ùë¢,ùëñ)|}{|ùë°ùëíùë†ùë°ùë†ùëíùë°ùë¢|}
\end{align}

The lowest error (value = 0) will be obtained when the accuracy is equal to 100%.

MAE is not a good indicator, as all deviations are equally weighted

In [42]:
MAE_A = mae(df["rui"], df["Pred A"])
MAE_B = mae(df["rui"], df["Pred B"])
MAE_C = mae(df["rui"], df["Pred C"])

print(MAE_A)
print(MAE_B)
print(MAE_C)

0.5374
0.4799999999999999
0.6796

In [45]:
display_MAE_A = trunc(MAE_A * 100) / 100
display_MAE_B = trunc(MAE_B * 100) / 100
display_MAE_C = trunc(MAE_C * 100) / 100

print("Prediction performance with Mean Absolute Error")
print("Prediction A = ", display_MAE_A)
print("Prediction B = ", display_MAE_B)
print("Prediction C = ", display_MAE_C)

Prediction performance with Mean Absolute Error
Prediction A =  0.53
Prediction B =  0.47
Prediction C =  0.67

#### Root Mean Square Error (RMSE)

In [47]:
def rmse(rui, pred):
    rui, pred = np.array(rui), np.array(pred)
    return np.sqrt(np.mean(np.square(rui - pred)))


The RMSE metric is calculated by the following formula:

\begin{align}
        RMSE = \sqrt{MSE}
\end{align}

The RMSE is the square root of MSE

RMSE will amplify the performance when it‚Äôs value is less than 1

In [50]:
RMSE_A = rmse(df["rui"], df["Pred A"])
RMSE_B = rmse(df["rui"], df["Pred B"])
RMSE_C = rmse(df["rui"], df["Pred C"])

print(RMSE_A)
print(RMSE_B)
print(RMSE_C)

0.6996699221775937
0.6449527114448004
0.9493766375891077

In [51]:
display_RMSE_A = trunc(RMSE_A * 100) / 100
display_RMSE_B = trunc(RMSE_B * 100) / 100
display_RMSE_C = trunc(RMSE_C * 100) / 100

print("Prediction performance with Root Mean Square Error")
print("Prediction A = ", display_RMSE_A)
print("Prediction B = ", display_RMSE_B)
print("Prediction C = ", display_RMSE_C)

Prediction performance with Root Mean Square Error
Prediction A =  0.69
Prediction B =  0.64
Prediction C =  0.94